@import "bootstrap/scss/bootstrap";

.first_h_el {
    margin-left: 380px;
}

.last_h_el {
    margin-right: 380px;
}

.btn-danger{
    background: #F81155;
    
}

a {
    text-decoration: none;
    }

.container_btn_offcanvas{
    margin: 0px 0px 24px 0px;
}

.offcanfas_btn{
    margin-right: 12px;
}