@import "bootstrap/scss/bootstrap";

.first_h_el {
    margin-left: 380px;
}

.last_h_el {
    margin-right: 380px;
}

.btn{
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    padding: 10px 14px;
}

.btn-danger{
    background: #F81155;
}

.btn-light{
    color: #005BFE;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}

h5, a{
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

a {
    text-decoration: none;
    }

.container_btn_offcanvas{
    margin: 0px 0px 24px 0px;
}

.offcanvas_btn{
    margin-right: 12px;
    padding: 9px 5px;
}

.offcanvas{
    width: 312px !important
}

#content{
    width: 100%;
    height: 94vmin;
    background-color: #F6F7F9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_message{
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    opacity: 0.3;
}

.group_container{
    display: flex;
    padding: 8px 12px;
}

.group_input{
    width: 205px;
}

.svg_container_delete, .svg_container_edit{
    border-radius: 6px;
    border: 1px solid gray;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.svg_container_delete:hover{
    background-color: #EA3D2F;
    border: 1px solid #EA3D2F;
    cursor: pointer;
}

.svg_container_edit:hover{
    background-color: #005BFE;
    border: 1px solid #005BFE;
    cursor: pointer;
}


.accordion{
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion-item{
    width: 80%;
}

.contact_container, .right_container{
    display: flex;
    align-items: center;
}

.contact_container{
    justify-content: space-between;
    
}